.field.geolocation input.hidden {
    display: none;
}

img.geolocation.action.refresh {
    margin: 0 auto;
    display: block;
    cursor: pointer;
    border: 0 !important;
    background: none !important;
    padding: 4px;
}

.geolocation.fields {
    min-width: 200px;
}

.geolocation.fields .third {
    width: 33%;
    max-width: 150px;
    float: left;
}


.geolocation  label.mobile {
    display: none;
}

/**
 @media only screen and (max-width: 500px) {
**/
@media (max-width: 800px) {

    .geolocation.fields {
        min-width: 140px;
    }

    .geolocation.fields .third{
        width: 50%;
    }

    .geolocation.fields .third.accuracy{
        width: 94%;
        max-width: 100%;
        clear:left;
    }

    .geolocation .accuracy .value {
        clear: left;
        display: block;
        width: 100%;
        height: 4px;
        margin-top: 4px;
        margin-bottom: 4px;

    }


    .geolocation label.full {
        display: none;
    }

    .geolocation label.mobile {
        display: block;
    }

    .geolocation input.accuracy {
        display: none;
    }


    .geolocation span.good {
        text-indent: -999em;
        background-color: green;
    }

    .geolocation span.average {
        text-indent: -999em;
        background-color: orange;
    }

    .geolocation span.bad {
        text-indent: -999em;
        background-color: red;
    }

}