.field.geolocation input.hidden {
    display: none;
}

img.geolocation.action.refresh {
    cursor: pointer;
    border: 0 !important;
    background: none !important;
}

.geolocation.fields {
    min-width: 200px;
}

.geolocation.fields .third {
    width: 33%;
    max-width: 100px;
    float: left;
}
